/*type selectors*/

h1
{
  text-align: center;
}

/*CSS Classes*/
.chakra-symbol
{

}

.container-fluid
{
  margin: 0px 0px 0px 0px;
}

.footer-image 
{ 
  text-align: center;
}

.home-images
{

}


.img-fluid
{
  width: 100%;
  height: 300px;
}


.navbar
{
  background-color: #9933FF;
  color: #FFFFFF;
}

.navbar-light .navbar-brand 
{
  align: left;
  color: #FFFFFF;
}

.nav-item
{
}

.nav-link
{
  color: #FFFFFF;
}

.page-header
{

}

.profile-pic 
{

} 

.site-brand
{ font-family: "Montserrat", serif;
  font-weight: bold;
  text-align: center;
  color: white;
}

.website-heading
{
  background-color: #9933ff;
}

.welcome
{

}

#welcome-image
{
  width: 1000px;
  height: 300px;
}


.welcome-message
{
  text-align: center;
  font-family: "Ubuntu", serif;
}

.welcome-title
{
  font-family: "Montserrat", serif;
  text-align: center;
  background-color: #9933FF;
  color: #FFFFFF;
}





/*CSS IDs*/

#contact-form
{
  
}


#header
{

}

#footer
{
  width: 100%;
}

/*Media Breakpoints*/


@media
{

}
@media
{

}
@media
{

}
@media
{

}
