/*type selectors*/

/*class selectors*/

.navbar
{
  position: sticky;
  background-color: #cc39e3;
  color: #FFFFFF;
}

.navbar-padding
{
  padding: 0px;
}

.container-fluid
{
  margin: 0px;
}
/*ids*/

/*media queries*/
@media screen and (max-width: 375px) 
{

}
/**/
/**/
/**/
