/*Type Selectors*/


/*Class Selectors*/

.container-fluid
{
  margin: 0px 0px 0px 0px;
}

.navbar
{
  /*background-color: #9933FF;*/
  background-color: #cc39e3;
  color: #FFFFFF;
}

.navbar-light .navbar-brand 
{
  align: left;
  color: #FFFFFF;
}

/*IDs*/


/**/


/**/


/**/


/**/


/**/


/**/


/**/


/**/

@media screen and (max-width: 600px) {
  body {
  }

  .navbar
  {

  }
}
