/*type selectors*/
/*class selectors*/

.navbar
{
  background-color: #cc39e3;
  color: #FFFFFF;
}

.navbar-toggler
{
  margin: 0px 10px 0px 0px;
}

.navbar-padding
{
  padding: 0px;
}

.container-fluid
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.site-title
{
  justify-content: left;
}

.welcome
{
}

.welcome-image-size
{
  width: 100%; 
}


.footer-map
{

}

.footer-contact
{
  
}

/*ids*/
#footer
{
  margin: 0px 0px 0px 0px;
}

/*media queries*/
@media screen and (max-width: 375px) 
{

}
/**/
/**/
/**/
