/*type selectors*/
/*class selectors*/

.navbar
{
  background-color: #cc39e3;
  color: #FFFFFF;
}

.navbar-toggler
{
  margin: 0px 10px 0px 0px;
}

.navbar-padding
{
  padding: 0px;
}

.card-title
{
  text-align: center;
}

.container-fluid
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.site-title
{
  justify-content: left;
}

.welcome
{

}

.welcome-images
{
  width: 100%;
}

.welcome-image
{
  width: 25%;
}

.map
{

}

.footer-images
{
  text-align: center;
}

.contact-info
{
  
}

/*ids*/
#footer
{
  margin: 0px 0px 0px 0px;
}

/*media queries*/

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) 
{
  .welcome-image
  {
    display: hidden;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) 
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) 
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) 
{

}
/**/
/**/
/**/
